# -------------------------
# ENV FILES
# -------------------------

.env
*/.env

# -------------------------
# PYTHON
# -------------------------

__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# -------------------------
# VSCODE
# -------------------------

.vscode/

# -------------------------
# OS FILES
# -------------------------

.DS_Store
Thumbs.db

# -------------------------
# LOG FILES
# -------------------------

*.log